<?xml version="1.0"?>
<config>
    <modules>
        <Ceicom_Improve>
            <version>0.1.3</version>
        </Ceicom_Improve>
    </modules>
    <global>
        <models>
            <ceicom_improve>
                <class>Ceicom_Improve_Model</class>
            </ceicom_improve>
        </models>
        <helpers>
            <ceicom_improve>
                <class>Ceicom_Improve_Helper</class>
            </ceicom_improve>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <ceicom_improve_quote_collect_totals_before>
                        <type>singleton</type>
                        <class>Ceicom_Improve_Model_Sales_Quote_Observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </ceicom_improve_quote_collect_totals_before>
                </observers>
            </sales_quote_collect_totals_before>
            <controller_action_predispatch>
                <observers>
                    <filter_controller_action_predispatch>
                        <type>singleton</type>
                        <class>Ceicom_Improve_Model_Checkout_Observer</class>
                        <method>dispatch</method>
                    </filter_controller_action_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <frontend>
        <routers>
            <ceicom_improve_customer>
                <use>standard</use>
                <args>
                    <module>Ceicom_Improve_Customer</module>
                    <frontName>ceicom_improve_customer</frontName>
                </args>
            </ceicom_improve_customer>
        </routers>
    </frontend>
</config>
